{#
/**
 * @file
 * Default theme implementation for a date / time element.
 *
 * Available variables
 * - attributes: (optional) HTML attributes to apply to the block.
 * - widgets: The widgets to be rendered.
 * - async: If we want to render JS ASsynchronously.
 * - attached: Array of libraries to add, according to the widget definition.
 * - image: The URL for the pin it button.
 * - description: A description filled in by the user.
 *
 */
#}
<div class="easy-social pinterest">
  <a data-pin-do="buttonBookmark" href="https://www.pinterest.com/pin/create/button/"></a>
</div>
