{#
/**
 * @file
 * Default theme implementation for a date / time element.
 *
 * Available variables
 * - attributes: (optional) HTML attributes to apply to the block.
 * - widgets: The widgets to be rendered.
 * - async: If we want to render JS ASsynchronously.
 * - attached: Array of libraries to add, according to the widget definition.
 *
 */
#}
<span class="easy-social-email-button">
  <a href="mailto:?subject={{ subject_encoded }}&body={{ body_encoded }}{{ url }}"{% if button_title %} aria-label="{{ button_title }}"{% endif %}>
    <i></i>
    <span class="easy-social-email-span">{{ button_label }}</span>
  </a>
</span>
